<app-version-parent></app-version-parent>

<app-name-parent></app-name-parent>

<app-hero-parent></app-hero-parent>

<h1>Ejemplos {{ fecha | date:'dd-MM-yyyy HH:mm:ss' }}</h1>
<p>La fecha es {{ fecha | date:'short':'+0200':'es' }}</p>
<p>El precio es {{ precio | currency:'€':'symbol':'1.2-2':'es' }}</p>
<p>El número del precio es {{ precio | number:'1.2-2':'es' }}€</p>

<p>Ejemplo de operador ?. {{variableQuePuedeSerNulo?.valorInterno}}</p>

<pre>{{ datos | json }}</pre>

<input #texto (input)="mensaje = texto.value" />

<h2>Mensaje: {{mensaje | uppercase }}</h2>

<app-hijo 
  [el-que-recibe-el-saludo]="{ id: 5, nombre: 'Prueba' }"
  (saludo)="onSaludo($event)"></app-hijo>

<ul>
  <li *ngFor="let dato of datos; let i=index; trackBy: porCadaPersona">
    {{i}}: {{dato.id}}, {{dato.nombre}}

    <app-hijo [el-que-recibe-el-saludo]="dato"
    (saludo)="onSaludo($event)"></app-hijo>

    <div [ngSwitch]="dato.nombre">
      <span *ngSwitchCase="'Javier'">¡El profe!</span>
      <span *ngSwitchCase="'Pepe'">El típico</span>
      <span *ngSwitchDefault>Otro que no conozco</span>
    </div>
  </li>
</ul>